.menu{
    width: 100%;
    height: 100px;
    background: #1a2041;
    position: relative;
    text-align: center;
    padding-top: 15px;
    border: 10px 10px 10px 10px;
    margin-bottom: 70px;
}
.mini-menu a{
    margin: 3px 2px 10px 12px;
    text-align: center;
    width: 310px;
    height: 50px;
    display: block;
    padding-top: 15px;
    color: yellow;
    font-weight: 900;
    font-size: 20px;
    font-family: Tahoma;
    border: solid yellow 3px; 
    background: #1a2041;
    text-decoration: none;
    float: left;
    border-radius: 30px;
}
body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mini-menu a:hover{
    color: #1a2041;
    font-weight: 950;
    transition: 0.5s;
	background: yellow;
}
.mini-menu a.action{
    color: #1a2041;
    font-weight: 950;
    background: yellow;
}
.content{
    width: 100%;
    height: 252px;
}
.my_photo{
    margin-left: 530px;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 7px;
    border: solid black 1px;
    border-radius: 5px;
    width: 207px;
    transition: 0.3s;
}
.my_photo:hover{
    transition: 0.3s;
    box-shadow: 10px 10px 15px;
}
.chars{
    margin-top: 50px;
    width: 400px;
    height: 50px;
    border: 1px solid #084267;
    border-left: 50px solid #084267;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 400px;
    background: linear-gradient(to right, #ffffff, #37b1ff);
    text-align: center;
    transition: 0.3s;
}
.chars:hover{
    transition: 0.3s;
    box-shadow: 10px 10px 15px;
}
#grad{
    background: linear-gradient(to right, #e2e7ea, #084267);
}
.fchars{
    float: left;
    margin-right: 50px;
}    
.chars_skype{
    margin-top: 50px;
    width: 400px;
    height: 50px;
    border: 1px solid #084267;
    border-left: 50px solid #084267;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 400px;
    background: linear-gradient(to right, #ffffff, #37b1ff);
    text-align: center;
    transition: 0.3s;
}
.chars_skype:hover{
    transition: 0.3s;
    box-shadow: 10px 10px 15px;
}
#footer { 
    left: 0;
	bottom: 0;
    color: #fff; 
    width: 100%;
	background: #292929; 
	height: 80px;
	text-align: center;
	padding-bottom: 40px;
   }
   #footer1 div {
    padding: 10px; 
    background: white; 
   }


